body {
	background: #1f2021;
}
html {
	scroll-behavior: smooth;
	background-color: #1f20;
}

.navtext {
	color: white;
	font-size: large
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Aboreto');

@import url('https://fonts.googleapis.com/css?family=Quantico');
@import url('https://fonts.googleapis.com/css?family=Bebas-Neue');
@import url('Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
@import url('Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic');
